{
	email {$ACME_EMAIL}
}

{$APP_DOMAIN} {
	encode gzip zstd

	handle /api/* {
		reverse_proxy api:8000
	}

	reverse_proxy web:3000
}

{$STATION_DOMAIN}, www.{$STATION_DOMAIN} {
	encode gzip zstd

	handle /api/* {
		reverse_proxy api:8000
	}

	handle / {
		redir /estacion 302
	}

	reverse_proxy web:3000
}

{$API_DOMAIN} {
	encode gzip zstd

	@large_uploads {
		path /api/evidence/upload
	}
	request_body @large_uploads {
		max_size 25MB
	}

	reverse_proxy api:8000
}
